@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --cor01:white;
    --cor02:#9ECFEB;
    --cor03:#FFA136;

    --fonte01:'Share Tech Mono', 'Courier New', Courier, monospace; 
    --fonte02: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor02));
    font-family: var(--fonte01);
    
    height: 200px;
}

header h1{
    padding: 40px;

    font-size: 3em;
    text-align: center;

    color: var(--cor01);
    text-shadow: 1px var(--cor02);
    text-shadow: 1px 1px 0px black;
}

header nav a {
    color: var(--cor01);

    padding-left: 41px;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0px black;
}

header nav a:hover {
    font-size: 1.05em;
    color: var(--cor03);
    transition: .8s ;
}

body {
    background-image: linear-gradient(to top, var(--cor03), var(--cor02), var(--cor02));
}

main {
    width: 80vw;
    margin: auto;

    background-color: var(--cor01);

    font-family: var(--fonte02);
    font-size: 1.2em;
}