@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --cor01:white;
    --cor02:#9ECFEB;
    --cor03:#83A1D4;

    --fonte01:'Share Tech Mono', 'Courier New', Courier, monospace; 
    --fonte02: Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--fonte01);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor02);
}

header {
    width: 100vw;
    height: 250px;
    margin: auto;
    background-color: transparent;
}

header h1 {
    color: var(--cor01);
    text-align: start;
    font-size: 2.5em;
    padding: 50px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.301);
}

div {
    background-color: var(--cor01);
    box-shadow: 1px 1px 10px var(--cor03);
    border-radius: 100px;

    width: 90vw;
    height: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    columns: 2;

    font-size: 1.08em;
    text-align: start;
}

div p {
    padding-top: 30px;
}

div.html img {
    position: relative;
    left: 30px;
    top: 50px;
}

div.css img {
    position: relative;
    left: -30px;
    top: 50px;
}

div img:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    transition: 0.5s;
}

div a.texto {
    text-decoration: none;
    color: var(--cor02);
}

div a.texto:hover {
    font-weight: bolder;
    font-size: 1.1em;
    transition: 0.5s;
}